
.card-info{
    background-color: rgba(2,17,38,1);
    height: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 30px;
}

.card-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: 0px auto;
}

.card-content{
    max-width: 435px;
    font-size: 21px;
    font-family: 'OpenSans';
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    margin: 0px auto;
}

@media screen and (max-width: 768px){
    .card-info{
        zoom: 70%;
    }

  }



