nav {
  padding-top: 2%;
  background: transparent;
  position: absolute;
  z-index: 10;
  right: 4%;
}
.nav-fixed{
  background-color: #021025;
  right: 0%;
  padding-top: 0;
}

/* .navbarContainer {
  display: flex;
  justify-content: end;
} */
.nav-container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 10px 4px 0px 4px;
  
}
.nav-content {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: flex-end;
  /* position: absolute; */
  align-items: center;
  flex-wrap: wrap;
  font-family: OpenSans;
  font-size: 15px;
  z-index: 3;
}
ul.nav-active {
  display: flex;
  overflow: auto
}
.nav-content a,
.nav-content li {
  text-decoration: none;
  color: #fff
}
.nav-content a {
  padding: 18px;
  display: block
}
.nav-fixed {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  /* background-color: #021016; */
  box-shadow: 0 0 2px rgba(0, 0, 0, .14), 0 2px 4px rgba(0, 0, 0, .28)
}
.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .5s;
  transition-duration: .5s
}
.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: #cfcfcf; */
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out
}
.hvr-bounce-to-top:active,
.hvr-bounce-to-top:hover {
  color: #e7164f
}
.hvr-bounce-to-top:active:before,
.hvr-bounce-to-top:focus:before,
.hvr-bounce-to-top:hover:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
  transition-timing-function: cubic-bezier(.52, 1.64, .37, .66)
}
.nav-icon-container {
  background: #021016;
  padding: 10px;
  display: none
}
#nav-icon {
  width: 40px;
  height: 35px;
  position: relative;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  left: 85%
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out
}
#nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0
}
#nav-icon span:nth-child(odd) {
  left: 0;
  border-radius: 9px 0 0 9px
}
#nav-icon span:nth-child(1),
#nav-icon span:nth-child(2) {
  top: 0
}
#nav-icon span:nth-child(3),
#nav-icon span:nth-child(4) {
  top: 13px
}
#nav-icon span:nth-child(5),
#nav-icon span:nth-child(6) {
  top: 26px
}
#nav-icon.open span:nth-child(1),
#nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg)
}
#nav-icon.open span:nth-child(2),
#nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
#nav-icon.open span:nth-child(1) {
  left: 0;
  top: 7px
}
#nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px
}
#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0
}
#nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0
}
#nav-icon.open span:nth-child(5) {
  left: 0;
  top: 21px
}
#nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 21px
}
@media screen and (max-width: 910px) {
  nav{
      background: #021025;
      position: inherit;
      right: 0;
  }
  .nav-content {
      flex-direction: column;
      display: none
  }
  .nav-icon-container {
      display: block;
      background-color: transparent;
  }
  #nav-icon {
      zoom: 85%
  }
}
