#message-banner,
.container {
    display: flex;
    text-align: center
}
#message-banner {
    height: 500px;
    background-color: #5656565c;
    flex-direction: row;
    align-items: center;
    padding-left: 35%;
    padding-right: 35%
}
.container {
    background-color: #021025;
    height: 300px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding-left: 20%;
    padding-right: 20%
}
.content {
    color: #fff;
    font-family: OpenSans;
    font-size: 1.1em
}
@media screen and (max-width: 768px) {
    #message-banner {
        padding-left: 10%;
        padding-right: 10%
    }
}